<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>CouchDB Manager</title>
</head>
<body>
    <h1>CouchDB Manager</h1>
    <nav>
        <a href="/">Create DB</a>
        <a href="/upload_json_page">Upload JSON</a>
    </nav>
    <h2>Create Database</h2>
    <div class="viewDataDiv">
        <form action="{{ url_for('create_db') }}" method="post">
            <input type="text" name="db_name" placeholder="Database Name">
            <input type="submit" value="Create Database">
        </form>
    </div>

    <h2>Existing Databases</h2>
    {% if databases %}
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for db in databases %}
            <tr>
                <td class='td_delete'>
                    <form action="{{ url_for('delete_db', db_name=db) }}" method="post" style="display:inline;">
                        <input type="submit" value="x">
                    </form>
                </td>
                <td><a href="{{ url_for('view_db', db_name=db) }}">{{ db }}</a></td>
                <td class='td_action'>
                    <form action="{{ url_for('rename_db', db_name=db) }}" method="post" style="display:inline;">
                        <input type="text" name="new_db_name" placeholder="New Database Name">
                        <input type="submit" value="Rename">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>No databases found</h4>
    {% endif %}
    <footer>
        <h4>Site Created by voxten</h4>
    </footer>
</body>
</html>
