<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
<head>
    <meta charset="UTF-8">
    <title>{{ db_name }} Collections</title>
</head>
<body>
    <h1>{{ db_name }} Collections</h1>
    <nav>
        <a href="/">Create DB</a>
        <a href="/upload_json_page">Upload JSON</a>
    </nav>
    <h2>Create Collection</h2>
    <div class="viewDataDiv">
        <form action="{{ url_for('create_collection', db_name=db_name) }}" method="post">
            <input type="text" name="collection_name" placeholder="Collection Name">
            <input type="submit" value="Create Collection">
        </form>
    </div>

    <h2>Existing Collections</h2>
    {% if collections %}
    <table id="collection-table">
        <thead>
            <tr>
                <th></th>
                <th>
                    _id
                    <a href="{{ url_for('view_db', db_name=db_name, sort_by='_id', order='asc') }}">▲</a>
                    <a href="{{ url_for('view_db', db_name=db_name, sort_by='_id', order='desc') }}">▼</a>
                </th>
                {% for name in content_names %}
                <th>
                    {{ name }}
                    <a href="{{ url_for('view_db', db_name=db_name, sort_by=name, order='asc') }}">▲</a>
                    <a href="{{ url_for('view_db', db_name=db_name, sort_by=name, order='desc') }}">▼</a>
                </th>
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for collection in collections %}
            <tr>
                <td class="td_delete">
                    <form action="{{ url_for('delete_collection', db_name=db_name, collection_id=collection['_id']) }}" method="post" style="display:inline;">
                        <input type="submit" value="x">
                    </form>
                </td>
                <td><a href="{{ url_for('view_collection', db_name=db_name, collection_id=collection['_id']) }}">{{ collection['_id'] }}</a></td>
                {% for name in content_names %}
                <td>{{ collection[name] }}</td>
                {% endfor %}
                <td class='td_action'>
                    <form action="{{ url_for('rename_collection', db_name=db_name, collection_id=collection['_id']) }}" method="post" style="display:inline;">
                        <input type="text" name="new_collection_id" placeholder="New Collection ID">
                        <input type="submit" value="Rename">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>No collections found</h4>
    {% endif %}

    <footer>
        <nav>
            <a href="{{ url_for('home') }}">Back to Home</a>
        </nav>
        <h4><a href="https://github.com/voxten" target="_blank">Site Created by voxten</a></h4>
    </footer>
</body>
</html>
